*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: .9rem;
    line-height: 1.8;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: hsl(300, 43%, 22%);
    line-height: 1;
}

section {
    padding: 3rem 1.1rem;
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    @media screen and (min-width: 1440px) {
        height: 100vh;
        padding: 6vh 12vw;
        background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
        background-position: bottom 50vh right 50vw, top 20vh left 16vw;
        background-size: 50%, 85%;
    }
}